.editorconfig
.gitattributes
.prettierignore
.travis.yml
/.github
/tests
/typings
/html-report
/coverage
*.ts
!/index.d.ts
codecov.yml
coverage-final.json
intern.json
lcov.info
tsconfig.json
tslint.json
typings.json
/*.tgz
